<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <form>
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input type="text" #nombre required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input type="file" name="foto" (change)="obtenerImagen($event)"></ion-input>
      </ion-item>
      <ion-button (click)="storeImage(nombre)" expand="block">Guardar</ion-button>
    </form>
  </div>
</ion-content>